/*
    DEMO STYLE
*/

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 10px;
    /* background: #fff; */
    border: none;
    border-radius: 0;
    margin-bottom: 40px;

}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn {
    margin-right: 2px;
    background-color: #7386D5;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 80px;
    max-width: 80px;
    top: 0;
    padding: 14px;
    position: sticky;
    padding-left: 20px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #f3e6e6a8;
    color: #000;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    transition: all 0.3s;
}

.second-sidebar {
    min-width: 290px;
    max-width: 340px;
    top: 0;
    padding: 14px;
    position: sticky;
    padding-left: 20px;
    height: 80vh;
    background: #fff;
    border-right: 1px solid #f3e6e6a8;
    color: #000;
    justify-content: center;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    transition: all 0.3s;
}

.size {
    margin: 2rem 0;
}

.size-tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.7rem;
}


.bottom-bar {
    background-color: #fff;
    position: fixed;
    height: 120px;
    border-top: 1px solid #f3e6e6a8;
    width: 100%;
    bottom: 0vh;
    left: 5rem;
}



.nv-btn {
    background-color: white;
    border: none;
}


.tab-label {
    font-size: 13px;
    text-align: center;
}

#sidebar.active {
    margin-left: -250px;
}

.card {
    width: fit-content;
    padding: 0.8rem;
    aspect-ratio: 1/1;
    background-color: coral;
}

#sidebar .sidebar-header {
    padding-top: 12px;

}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-bottom: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5d71c7;
    border-radius: 12px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.plus {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #ebe6e678;
}

/* search input */
.search-container {
    position: relative;
    width: 250px;
    /* Adjust width as needed */
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
}

.tag-ul {
    list-style-type: none;
}

.tag-ul li a {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.tag-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.tag-ul li {
    margin-right: 10px;
}

.card-img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.card-img2 {
    height: 80px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
}


/* ..................................................
            BOTTOM BAR
    -------------------------------------------------- */
.gh {
    border: none;
    border-radius: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* ---------------------
        zoom slider
    -------------------- */
    .zoom-slider {
        width: 100px;
      }
      
      .slider {
        width: 100%;
        height: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 5px;
      }
      
      
      
      
      
      
      /* -------------------- */


.crop {
    position: fixed;
    height: 3.2rem;
    background-image: url('../../assets/photo-1507525428034-b723cf961d3e.avif');
    background-repeat: repeat;
    background-size: 66px 59px;
    width: -webkit-fill-available;
    bottom: 1vh;
    position: fixed;
    height: 3.2rem;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D);
    background-repeat: repeat;
    background-size: 66px 59px;
    width: -webkit-fill-available;
    bottom: 1vh;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.bt {
    border: none;
    padding: 0.5rem;
    margin-left: 4px;
    border-radius: 10px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}