<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>VEED.IO</h3>
        </div>
        <div class="container d-flex flex-nowrap">

            <div class="container-fluid text-white card">
                D
            </div>
            <div class="container">
                <h5 style="margin:0px;">faizan</h5>
                <p style="margin:0px;">Free Plan</p>
            </div>
        </div>

        <ul class="list-unstyled components">

            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">New Video <span
                        class="plus">+</span></a>

            </li>
            <li>
                <a href="#" style="background-color: #5154571a;
          border-radius: 10px;"><span>
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="sc-aXZVg cmpQlA">
                            <path
                                d="M2 17.75V10.0034C2 8.73475 2.56676 7.53242 3.54537 6.72507L9.29537 1.98132C10.8657 0.685766 13.1343 0.685766 14.7046 1.98132L20.4546 6.72507C21.4332 7.53242 22 8.73475 22 10.0034V17.75C22 20.0972 20.0972 22 17.75 22H6.25C3.90279 22 2 20.0972 2 17.75Z"
                                stroke="currentColor"></path>
                            <path d="M7.5 17H16.5" stroke="currentColor" stroke-linecap="round"></path>
                        </svg>
                    </span> Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <span><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="sc-aXZVg cmpQlA">
                            <path
                                d="M2 9V6.25C2 3.90279 3.90279 2 6.25 2H17.75C20.0972 2 22 3.90279 22 6.25V9M2 9V17.75C2 20.0972 3.90279 22 6.25 22H9M2 9H9M22 9V17.75C22 20.0972 20.0972 22 17.75 22H9M22 9H9M9 9V22"
                                stroke="currentColor"></path>
                        </svg></span>
                    <span>
                        Templates
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder" viewBox="0 0 16 16">
                            <path
                                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                        </svg>
                    </span>
                    All Videos</a>
            </li>
            <li>
                <a href="#">Prodcasts & Shows</a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="sc-aXZVg cmpQlA">
                            <path
                                d="M5.88889 23C4.59227 23 3.34877 22.485 2.43192 21.568C1.51508 20.6513 1 19.4078 1 18.1111V3.44444C1 2.79614 1.25753 2.17438 1.71597 1.71597C2.17438 1.25753 2.79614 1 3.44444 1H8.33333C8.98164 1 9.60334 1.25753 10.0618 1.71597C10.5203 2.17438 10.7778 2.79614 10.7778 3.44444V18.1111C10.7778 19.4078 10.2627 20.6513 9.34586 21.568M5.88889 23C7.18551 23 8.42901 22.485 9.34586 21.568M5.88889 23H20.5556C21.2038 23 21.8256 22.7425 22.284 22.284C22.7425 21.8256 23 21.2038 23 20.5556V15.6667C23 15.0184 22.7425 14.3967 22.284 13.9382C21.8256 13.4797 21.2038 13.2222 20.5556 13.2222H17.6919M9.34586 21.568L19.7171 11.197C20.1753 10.7385 20.4328 10.1169 20.4328 9.46878C20.4328 8.8206 20.1753 8.19896 19.7171 7.74056L16.2594 4.28289C15.801 3.82463 15.1794 3.56719 14.5312 3.56719C13.8831 3.56719 13.2615 3.82463 12.803 4.28289L10.7778 6.30811V13.9382M5.88889 18.1111H5.90111"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    Brand Kit</a>
            </li>
        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content" style="width: 81%;">

        <nav class="navbar">
            <div class="container-fluid flex-nowrap">

                <div class="search-container">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 512 512" class="search-icon"
                        fill="#666">
                        <path
                            d="M505.66 475.31L405.1 374.75c29.687-35.868 47.477-82.478 47.477-133.25C452.578 107.64 349.938 5 228.297 5S4.016 107.64 4.016 229.094c0 121.64 103.64 224.28 224.28 224.28 50.772 0 97.382-17.79 133.25-47.477l100.563 100.563c10.248 10.248 24.518 15.87 39.277 15.87 14.765 0 28.878-5.625 39.128-15.87C526.513 507.75 526.513 487.78 505.66 475.31zM228.297 413.844c-96.645 0-175.75-79.105-175.75-175.75S131.652 62.344 228.297 62.344 404.047 141.45 404.047 238.094 324.942 413.844 228.297 413.844z" />
                    </svg>
                    <input type="text" class="search-input" placeholder="Search...">
                </div>

                <div class="container-fluid" style="display: flex;
            justify-content: flex-end;">

                    <button type="button" id="sidebarCollapse" class="btn" style="background-color: rgb(255, 241, 221);" >

                        <span style="margin-right: 5px;">Upgrade</span>
                        <svg style="color:rgb(255, 163, 26);" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="sc-aXZVg dxEjLj"><path d="M13.882 10.8h5.176c.727 0 1.18.671.811 1.205l-7.998 11.598c-.485.704-1.753.411-1.753-.404v-10H4.942c-.727 0-1.18-.67-.811-1.204L12.129.397c.485-.704 1.753-.411 1.753.404v10Z" fill="currentColor"></path></svg>
                    </button>
                    <button type="button" id="sidebarCollapse" class="btn d-flex flex-nowrap"
                        style="background-color: #9ca0af6b; align-items: center;">

                        <span style="margin-right: 5px;">Invite</span>
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="sc-aXZVg dxEjLj">
                            <path
                                d="M16 21V19C16 17.9391 15.5786 16.9217 14.8284 16.1716C14.0783 15.4214 13.0609 15 12 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M8.5 11C10.7091 11 12.5 9.20914 12.5 7C12.5 4.79086 10.7091 3 8.5 3C6.29086 3 4.5 4.79086 4.5 7C4.5 9.20914 6.29086 11 8.5 11Z"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M20 8V14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M23 11H17" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg> 
                    </button>

                </div>
                <a class="HelpButtonstyled__Root-sc-1s18fvo-0 bJEloA">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        data-testid="@dashboard/help-icon" class="sc-aXZVg gFHStW">
                        <path
                            d="M9 9.12501C9 9.12501 9.045 8.09375 10.0481 7.26688C10.6437 6.77594 11.3591 6.63375 12 6.625C12.5853 6.61781 13.1084 6.71688 13.4213 6.86938C13.9559 7.13125 15 7.76875 15 9.12501C15 10.5522 14.0881 11.1991 13.0516 11.9119C12.015 12.6247 11.75 13.3238 11.75 14.125M11.7031 17.5001V17.2844M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z"
                            stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round"></path>
                    </svg>
                </a>

                <div class="container-fluid" style="width: min-content;">
                    <img src="../../assets/images.jpg" height="40" width="40" style="border-radius: 100%;" alt="">
                </div>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>


            </div>
        </nav>

        <div class="container-fluid">
            <div class="header">
                <h3>Lets's create some <strong>Videos!</strong></h3>
            </div>
            <!-- tags -->
            <div class="row">
                <div class="container">
                    <ul class="tag-ul">
                        <li>
                            <a routerLink="/create" class="tag">
                                <span style="margin-right: 6px;">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="sc-leHGUY bhNDSU"><path d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6 21C7.65685 21 9 19.6569 9 18C9 16.3431 7.65685 15 6 15C4.34315 15 3 16.3431 3 18C3 19.6569 4.34315 21 6 21Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20 4L8.12 15.88" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.47 14.48L20 20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.12 8.12L12 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                </span>
                                <span>Create Project</span>
                            </a>
                        </li>
                        <li>
                            <a class="tag">
                                <span style="margin-right: 6px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                        viewBox="0 0 24 24" color="#71737C" class="sc-aXZVg AvBtT">
                                        <path stroke="currentColor" stroke-linejoin="round"
                                            d="M17.286 9.443l4.68-2.367a.708.708 0 01.695.032c.211.132.34.364.339.615v8.666a.728.728 0 01-.075.327.71.71 0 01-.959.323l-4.68-2.37">
                                        </path>
                                        <rect width="17" height="17" x="0.5" y="3.5" stroke="currentColor" rx="3.5">
                                        </rect>
                                    </svg> </span>
                                <span>Record Video</span>
                            </a>
                        </li>
                        <li>
                            <a class="tag">
                                <span style="margin-right: 6px;">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="sc-aXZVg cmpQlA">
                                        <path
                                            d="M5.88889 23C4.59227 23 3.34877 22.485 2.43192 21.568C1.51508 20.6513 1 19.4078 1 18.1111V3.44444C1 2.79614 1.25753 2.17438 1.71597 1.71597C2.17438 1.25753 2.79614 1 3.44444 1H8.33333C8.98164 1 9.60334 1.25753 10.0618 1.71597C10.5203 2.17438 10.7778 2.79614 10.7778 3.44444V18.1111C10.7778 19.4078 10.2627 20.6513 9.34586 21.568M5.88889 23C7.18551 23 8.42901 22.485 9.34586 21.568M5.88889 23H20.5556C21.2038 23 21.8256 22.7425 22.284 22.284C22.7425 21.8256 23 21.2038 23 20.5556V15.6667C23 15.0184 22.7425 14.3967 22.284 13.9382C21.8256 13.4797 21.2038 13.2222 20.5556 13.2222H17.6919M9.34586 21.568L19.7171 11.197C20.1753 10.7385 20.4328 10.1169 20.4328 9.46878C20.4328 8.8206 20.1753 8.19896 19.7171 7.74056L16.2594 4.28289C15.801 3.82463 15.1794 3.56719 14.5312 3.56719C13.8831 3.56719 13.2615 3.82463 12.803 4.28289L10.7778 6.30811V13.9382M5.88889 18.1111H5.90111"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Go Live</span>
                            </a>
                        </li>
                        <li>
                            <a class="tag">
                                <span style="margin-right: 6px;">
                                    <svg fill="#343332" height="20px" width="20px" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 512 512" xml:space="preserve" stroke="#343332"
                                        stroke-width="5.632">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                            stroke="#CCCCCC" stroke-width="1.024"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <g>
                                                <g>
                                                    <path
                                                        d="M256,0c-56.465,0-102.4,45.935-102.4,102.4v128c0,56.465,45.935,102.4,102.4,102.4s102.4-45.935,102.4-102.4v-128 C358.4,45.935,312.465,0,256,0z M332.8,230.4c0,42.351-34.449,76.8-76.8,76.8s-76.8-34.449-76.8-76.8v-128 c0-42.351,34.449-76.8,76.8-76.8c42.351,0,76.8,34.449,76.8,76.8V230.4z">
                                                    </path>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path
                                                        d="M409.6,230.4v-25.6H384v25.6c0,70.579-57.421,128-128,128s-128-57.421-128-128v-25.6h-25.6v25.6 c0,80.427,62.148,146.483,140.928,152.96c-0.009,0.222-0.128,0.41-0.128,0.64v102.4H140.8c-7.074,0-12.8,5.726-12.8,12.8 c0,7.074,5.726,12.8,12.8,12.8h230.4c7.074,0,12.8-5.726,12.8-12.8c0-7.074-5.726-12.8-12.8-12.8H268.8V384 c0-0.23-0.119-0.418-0.128-0.64C347.452,376.883,409.6,310.827,409.6,230.4z">
                                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg> <span>Record Prodcast</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-fluid d-flex justify-content-between">
                <h5>Myrecents Videos</h5>
                <p>All Videos <span>&gt;</span></p>
            </div>

            <!-- video cards -->
            <div class="container-fluid">
                <div class="row">
                    <div class="card-1">
                        <div class="container-fluid">
                            <img class="card-img img-fluid"
                                src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                alt="">
                        </div>
                        <div class="details">
                            <h6>Project Name</h6>
                            <p style="    font-size: 13px;
                        margin-top: -7px;">10 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- popular templates -->
            <div class="container-fluid d-flex justify-content-between">
                <p>Start with some popular templates</p>
                <p>View all <span>&gt;</span>
                </p>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="container-fluid d-flex" style="display: flex;
                    overflow: scroll hidden;
                    scrollbar-width: none;
                    margin: 0px -1.5rem;
                    padding: 0px 1.5rem 4px;
                    /* column-gap: 12px; */"> 
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>
                        <!-- card2 -->
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>
                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>

                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>

                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>

                        <div class="card-2">
                            <div class="container-fluid">
                                <img class="card-img2"
                                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D"
                                    alt="">
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>

    </div>
</div>